ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.fixed .navbar {
    position: fixed;
    top: 60px;
}


#intro {
    color: white;
    height: 100%;
    background: no-repeat center fixed url('/image/back.png');

    .overlay {
        background-color: #22A39F;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0.75;
    }

    .block {
        position: relative;
        top: 40%;
        text-align: center;

        .name {
            padding-bottom: 10px;
            border-bottom: 1px solid #FFFFFF;
            border-bottom-color: rgba(255, 255, 255, 0.35);
            display: inline-block;
            font-size: 50px;
            font-weight: 600;
        }

        .description {
            font-size: 28px;
        }
    }

    .scroll-down {
        text-decoration: none;
        height: 80px;
        width: 110px;
        position: absolute;
        bottom: 0px;
        right: 5%;
        background-color: #222222;
        text-align: center;

        @media screen and (max-width: 767px) {
            left: 0px;
            width: 100%;
        }

        i {
            color: #FFFFFF;
            font-size: 50px;
            padding-top: 15px;
            padding-right: 2px;
            animation-name: wiggle;
            animation-duration: 1.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
    }
}


@keyframes wiggle {
    0% {
        padding-top: 15px;
    }

    50% {
        padding-top: 23px;
    }

    100% {
        padding-top: 15px;
    }
}

.fixed #navigation {
    position: fixed;
    top: 60px;
}

#navigation {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 2;

    @media screen and (max-width: 767px) {
        left: 0px;
        width: 100%;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            a {
                display: block;
                height: 80px;
                text-align: center;
                color: #FFFFFF;
                text-decoration: none;
                padding-top: 30px;

                &.active {
                    background: #22A39F;
                }
            }
        }
    }

    .navbar-header {
        height: 50px;

        button {
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            float: right;
            position: relative;
            border-color: white;
            height: 40px;
            width: 40px;
            margin: 5px;

            i {
                color: white;
            }
        }
    }
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
strong,
b {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}


hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h2,
h3 {
    color: #22A39F;
}

p.lead {
    text-align: center;
    color: #727878;
}


.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.background-white {
    background: #FFF;
}

.background-belge {
    background: #F3EFE0;
}

.photo {
    box-shadow: 8px -2px 18px #777;
    border-radius: 50%;
    margin-bottom: 40px;
}

.background-gray {
    background: #434242;
}

.ability-score {
    float: right;
}


#contact {
    li {
        margin-bottom: 25px;
        a {

            line-height: 25px;
            color: #FFFFFF;

            i {
                width: 25px;
                font-size: 25px;
                margin-right: 20px;
                float: left;
            }
        }
    }
}